<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary header">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink] ="['/mates']">
          <img src="./cart.jpg" alt="Logo">
          MATES-SHOP
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" [routerLink] ="['/mates']">MATES</a>
            <a class="nav-link" [routerLink] ="['/about']">ABOUT</a>
          </div>
        </div>
      </div>
    </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
    <p class="text-center">TUDAI 2024-DEL SOLE ENZO JESUAN-SEMINARIO ANGULAR</p>
</footer>